---
layout: base
---
<h1>{{ title }}</h1>

<a href="https://github.com/agentcooper/agentcooper.io/commits/master/{{ page.inputPath }}"><time datetime="{{ page.inputPath | getGitCommitDateFromPath | htmlDateString }}">Last modified on {{ page.inputPath | getGitCommitDateFromPath | readableDate }}</time></a>

{{ content | safe }}